# Build and Release Folders
.DS_Store
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
truffle-config.js
package-lock.json
# Other files and folders
.settings/
node_modules/
secret
# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
